<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Final Project - Furniture Ecommerce | Shop</title>

    <link rel="icon" href="img/core-img/favicon.ico">

    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('../partials/search'); %>

        <div class="main-content-wrapper d-flex clearfix">

            <%- include('../partials/headerTemp'); %>

                <div class="shop_sidebar_area">

                    <div class="widget catagory mb-50">
                        <h6 class="widget-title mb-30">Catagories</h6>

                        <div class="catagories-menu">
                            <ul>
                                <li><a href="/shop">All</a></li>
                                <%var i=1; proT.forEach(proT=> { if (i==proT.ID){%>

                                    <li class="<%=(proT.ID==type?'active':'')%>"><a href="/shop?type=<%=proT.ID%>">
                                            <%=proT.Name%>
                                        </a></li>
                                    <% }else{ %>
                                        <li><a href="/shop?type=<%=proT.ID%>">
                                                <%=proT.Name%>
                                            </a></li>
                                        <% }i++}) %>
                            </ul>
                        </div>
                    </div>




                </div>

                <div class="amado_product_area section-padding-100">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-xl-flex align-items-end justify-content-between">

                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <div class="view-product d-flex align-items-center">
                                            <select name="select" id="viewProduct" onchange="getProductInPage(this)">
                                                <option value="10">View</option>
                                                <option value="4">4</option>
                                                <option value="6">6</option>
                                                <option value="8">8</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="containProduct">



                        </div>

                        <div class="row">
                            <div class="col-12">
                                <nav aria-label="navigation">
                                    <ul class="pagination justify-content-end mt-50" id="pagingData">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <%- include('../partials/footerTemp'); %>
            <script id="my-paging-template" type="x-tmpl-mustache">
        <li class="page-item {{PageFocus}}"><button class="page-link" value="{{page}}" onclick="getProductByPage(this)">{{page}}</button></li>
    </script>
            <script id="my-template" type="x-tmpl-mustache">
        <div class="col-12 col-sm-6 col-md-12 col-xl-6">
            <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                    <a href="detail?id={{ID}}">
                    <img src="{{Image}}" alt="">
                    </a>
                    <!-- Hover Thumb -->
                </div>

                <!-- Product Description -->
                <div class="product-description d-flex align-items-center justify-content-between">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">${{Price}}</p>
                        <a href="detail?id={{ID}}">
                            <h6>{{Name}}</h6>
                        </a>
                    </div>
                    <!-- Ratings & Cart -->
                    <div class="ratings-cart text-right">
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
      </script>
            <script src="js/jquery/jquery-2.2.4.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/plugins.js"></script>
            <script src="js/active.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

            <script src="js/script.js"></script>
            <script>
                $(document).ready(function () {

                    BindData();
                    if($('div.catagories-menu li.active').length==0){
                        $('div.catagories-menu li:first').addClass('active');
                    }
                    $('nav.amado-nav li.mShop').addClass('active');
                });
            </script>

</body>

</html>